<!-- //Name: COMP2007 Enterprise Computing Assignment 2  - Summer 2016
//Author: Mo Zou &　Pui in Kwok
//Description: This assignment is a MVC restaurant website which is built by MVC framework. There are home, menu, menu manager,
//contact, register and login pages. User need to register or login to see the menu manager page from navbar. -->



@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title.</h1>

<hr />



<div class="row">
    <!-- map -->
    <div class="col-md-7">
        <div class="pic">
            <img src="/Assets/images/map.png" alt="" style="width: 100%" />
        </div>
    </div>

    <!-- address -->
    <div class="col-md-5">
        <h3>MVC Restaurant</h3>
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
        Keep Connected:
        <br />
        <a href="http://www.twitter.com"><i class="fa fa-lg fa-twitter-square"></i></a>
        <a href="http://www.facebook.com"><i class="fa fa-lg fa-facebook-square"></i></a>
        <a href="http://www.instagram.com"><i class="fa fa-lg fa-instagram"></i></a>


    </div>


</div>

