
@{
    ViewBag.Title = "Index";
}

<h2 class="index_menu">@Html.ActionLink("Menu", "Index", "Menu")</h2>

<div class="col-md-offset-3 col-md-9">
    <div class="image">
        <img src="~/Assets/Images/restaurant.jpg" />
        <br />
        <img src="~/Assets/Images/restaurant2.JPEG" />
        <br />
    </div>
</div>