<!-- //Name: COMP2007 Enterprise Computing Assignment 2  - Summer 2016
//Author: Mo Zou &　Pui in Kwok
//Description: This assignment is a MVC restaurant website which is built by MVC framework. There are home, menu, menu manager,
//contact, register and login pages. User need to register or login to see the menu manager page from navbar. -->



@using assignment2.Models
@model IEnumerable<Menu>


@{
    ViewBag.Title = "Index";

}


<h3>
    Select from @Model.Count()

    menu:
</h3>

<hr />

<!-- display all menus -->
<div class="row">
    @foreach (Menu item in Model)
    {
        <div class="col-md-3">
            @Html.ActionLink(item.Name, "Browse", new { menu = item.Name })
        </div>
    }

</div>